<div class="d-flex flex-column align-items-center justify-content-center">
    <img src="https://codeenforcementapp.web.app/assets/images/SJ_color_logo.png" style="width: 700px;" alt="Logo" />
    <div class="d-flex flex-column justify-content-center align-items-center mt-5">
        <button class="btn btn-primary mb-3" style="width: 150px;" (click)="login()">Sign In</button>
        <div *ngIf="_userEmail">
            <p class="text-center">{{_userEmail}} does not have access to this Page</p>
        </div>
    </div>
</div>